form * {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	margin-bottom: 10px;
	width: 100%;
}
fieldset {
	padding: 25px;
}
* {
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 50px 0;
}
form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 30%;
}
button {
	height: 20px;
}

.radio_block1 *,
.radio_block2 * {
	display: flex;
	flex-direction: row;
}
datalist {
	position: absolute;
}
