div {
	background-color: rgb(255, 165, 0);
	width: 500px;
	padding: 20px;
	color: white;
}
h1 {
	size: 25px;
	font-weight: 900;
	margin-bottom: 10px;
}

.first-marked-list li {
	background-color: rgb(103, 158, 128);
	padding: 0 20px 0 50px;
}
.first-marked-list span {
	font-size: 20px;
	font-weight: 700;
	background-color: rgb(199, 124, 106);
}
.second-marked-list li {
	font-size: 18px;
	font-style: italic;
	background-color: rgb(153, 180, 102);
	margin-bottom: 10px;
	padding-left: 40px;
}

.second-marked-list span {
	background-color: rgb(218, 106, 32);
}

.list-item {
	background-position: left;
	background-repeat: no-repeat;
	background-size: 40px;
}

span {
	padding: 10px 20px 10px 20px;
	display: inline-block;
}

.item1 {
	background-image: url(ad_units.svg);
}
.item2 {
	background-image: url(airplane_ticket.svg);
}
.item3 {
	background-image: url(hotel.svg);
}
.item4 {
	background-image: url(car_rental.svg);
}

.item5 {
	background-image: url(local_bar.svg);
}
.item6 {
	background-image: url(casino.svg);
}
.item7 {
	background-image: url(museum.svg);
}
.item8 {
	background-image: url(festival.svg);
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150vh;
}
.block {
	background: url(rule.svg) no-repeat;
}
.block > span {
	margin-bottom: 10px;
}
ul li {
	list-style: none;
}
ul {
	padding: 0 !important;
	margin: 0 !important;
	list-style-position: inside;
}
